/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

$primary: #8a6bbe;
$secondary: #b28fce;
$warning: #ffb11b;
$white: #fcfaf2;
$black: #434343;

body {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "PingFang TC", "Microsoft JhengHei", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1pt;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 95%;
    max-height: 95%;
    box-shadow: 3px 3px 5px $black;
    margin: 0 auto;
    margin-bottom: 30px;
}

// CSS RESET

// 按鈕設計

.btn {
    background-color: $primary;
    border-style: none;
    padding: 30px;
    color: $white;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 10px;
    text-align: center;
    font-size: 28px;
    margin: 0 auto;
    transition: all 0.5s;
    cursor: pointer;
}
.btn_s {
    padding: 20px;
    font-size: 24px;
}

.btn:hover {
    background-color: $secondary;
    transition: all 0.5s;
}

.btn:active {
    background-color: $warning;
    transition: all 0.5s;
}

// scrollbar

.scrollbar {
    background: $white;
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(138, 107, 190, 0.3);
    border-radius: 10px;
    background-color: $white;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: $white;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(138, 107, 190, 0.3);
    background-color: $secondary;
}

.wrap {
    max-width: 1920px;
    margin: 0 auto;

    @media (max-width: 1200px) {
        max-width: 1200px;
    }

    @media (max-width: 768px) {
        max-width: 768px;
    }
}

.container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;

    @media (max-width: 1200px) {
        width: auto;
    }

    @media (max-width: 768px) {
        width: auto;
    }
}

.banner,
.bannerFooter {
    // background-image: url(img/banner.png);
    background-color: $white;
    background-position: center;
    color: $primary;
    // margin-bottom: 64px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &Info {
        width: 1280px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
    }

    p {
        font-size: 24px;
        line-height: 28px;
        font-style: italic;
        padding: 20px;
    }

    h1, .h1 {
        font-size: 60px;
        line-height: 94px;
        margin-bottom: 32px;
        text-align: center;
    }

    h2, .h2 {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 48px;
        text-align: center;
    }

    ul {
        display: flex;
        justify-content: space-between;
    }

    ul.explainList{
        list-style: decimal;
        font-size: 28px;

        display: block;
        text-align: left;
        margin-bottom: 36px;
        li {
            margin-bottom: 36px;

            span{
                color: $white;
                background-color: $black;
            }
        }
    }
}

.bannerFooter {
    height: 130px;
}

// 流程

.topper {
    // background-color:$white;
    color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15vh;


    h2 {
        font-size: 36px;
        text-align: center;
    }
}

.process {
    text-align: center;
    padding: 30px 10px;
    counter-reset: step;
    color: $secondary;
    li {
        a {
            color: $secondary;
        }
        list-style: none;
        display: inline-block;
        width: 13%;
        position: relative;
        text-align: center;
        // cursor: pointer;
        &:before {
            content: counter(step);
            counter-increment: step;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border: 1px solid $secondary;
            border-radius: 100%;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            background-color: $white;
        }
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1.5px;
            background-color: $primary;
            opacity: 0.5;
            top: 15px;
            left: -50%;
            z-index: -1;
        }
        &:first-child:after {
            content: none;
        }
        &.active {
            color: $warning;

            a {
                color: $warning;
            }
        }
        &.active:before {
            border-color: $warning;
        }
        &.active:after,
        &.done::after {
            background-color: $primary;
            opacity: 1;
        }

        &.done {
            color: $primary;
            a {
                color: $primary;
            }
        }

        &.done::before {
            background-color: $primary;
            border: 1px solid $primary;
            color: $white;
        }
    }
}

.footer {
    background-color: $primary;
    color: $white;
    padding-top: 64px;
    padding-bottom: 80px;
    text-align: center;

    .title {
        font-size: 36px;
        margin-bottom: 40px;
    }

    li {
        font-size: 22px;
        line-height: 33px;

        a {
            color: $white;
            transition: all 0.5s;
        }

        a:hover {
            // opacity: 0.8;
            color: $black;
            transition: all 0.5s;
        }
    }

    li:nth-child(1) {
        margin-bottom: 16px;
    }
}

// 教材

.bgDark {
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(90vh - 130px);
}

.card {
    position: relative;
    width: 100%;
    height: 75vh;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
    margin: auto;
}

.cardFront,
.cardBack {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-transition: all 0.2s;
    transition: all 0.2s linear;
}

.cardBack {
    opacity: 0;
}

.active {
    opacity: 1;
}

.close {
    display: none;
    // transition: 0.5;
}

.container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $black;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    top: calc(50% - 40px);
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #fed;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}


.qrIMG{
    // width: 10%;
    // margin-left: 100px;
    // // margin-left: 100%
    // img {
    //     // margin: 0 auto;
    //     padding-bottom: 50px;
    // }
    cursor: pointer;

    position: fixed;
    top: 0;
    left: 150px;
    background-color: $primary;
    padding: 20px;
    padding-bottom: 0;
    border-radius: 0 0 5px 5px;
    background: #fcfaf2;
    box-shadow:  7px 7px 5px rgba($color: $black, $alpha: 0.3);
    // box-shadow:  5px 5px 0px #656461,
    // -5px -5px 0px #fcfaf2;
    // color: $white;
    color: $black;
    p{
        
        text-align: center;
        // padding-bottom: 30px;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 1.25em;
        // background-color: $primary;
    }
    transition: 0.5s;
    &:hover{
        // opacity: 0.7;
        background-color: $black;
        transition: 0.5s;
        // color: $black;
        color: $white;
    }
    img{
        transition: 0.5s;
    }
}

.d-flex{
    display: flex;
    justify-content: space-between;
}
